* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    color: #333;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    margin: 10px;
    width: 70px;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #504848;
    padding: 1rem;
    border-radius: 5%;
}

.menu a:hover {
    background-color: gray;
    color: black;
}

.sec1 {
    height: 500px;
    background-color: #333;
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec1-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
}

.sec1-text {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
}

.sec1-text h1,
.sec1-text p {
    margin: 1% 0%;
}

.sec1-links {
    width: 100%;
}

.sec1-links a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    margin: 0px 8px;
}

.sec2 a,
.sec4 a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 1.2vh 1vh;
    width: 90%;
}

.link-hover a:hover {
    color: black;
    background-color: gray;
}

.sec2,
.sec3,
.sec4 {
    display: flex;
    flex-direction: column;
}

.sec2-titulo,
.sec3-titulo,
.sec4-titulo,
.sec5-titulo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-cards,
.list-depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-duvidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards,
.cards2,
.cards3 {
    width: 400px;
    height: 330px;
    border: 1px solid #333;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.cards2 p {
    width: 85%;
}

.cards input,
.cards3 input {
    width: 90%;
}

.cards img,
.cards3 img {
    width: 60%;
}

.cards2 img {
    width: 40%;
    margin-top: 3%;
    border-radius: 50%;
}

.sec5 {
    display: flex;
    flex-direction: column;
}

.list-perguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards4 {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
}

.cards4 p {
    width: 80%;
    margin: 10px 0px;
}

.sec6 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6-rigth {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2-titulo,
.sec3-titulo,
.sec4-titulo,
.sec5-titulo,
.sec6-titulo {
    font-size: 1.4rem;
}

.sec6-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec6-left {
    width: 600px;
}

.sec6-left img {
    width: 100%;
}

.sec6-input input[type=text],
input[type=email],
input[type=submit],
textarea {
    padding: 10px;
    margin: 2px;
}

.sec6-input input[type=submit] {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #3d3636;
}

.sec6-input input[type=submit]:hover {
    color: black;
    background-color: gray;
}

footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: #fff;

}

footer a:hover {
    color: gainsboro;
}

@media (max-width: 480px) {

    header {
        flex-direction: column;
        position: relative;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu ul li {
        width: 100%;
        background-color: #333;
    }

    .menu a {
        width: 100%;
        padding: 12px;
        color: #fff;
    }

    .sec1-text {
        font-size: 1rem;
        text-align: center;
    }

    .cards,
    .cards2,
    .cards3,
    .cards4 {
        width: 95%;
        height: auto;
    }

    .sec6-left {
        display: none;
    }

    .sec6-rigth,
    .sec6-input input,
    .sec6-input textarea {
        width: 100%;
    }

    footer {
        font-size: 0.9rem;
    }
}